.pop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
  .pop .pop__card {
    display: flex;
    flex-direction: column;
    height: max-content;
    padding-left: 9%;
    padding-right: 9%;
    position: relative;
    cursor: pointer;
  }
  .pop .pop__card img {
      min-width: 296px;
      max-height: 594px;
      min-height: 296px;
  }

  .pop .pop__card .Myclose-icon {
    position: absolute;
    z-index: 300;
    right: 10%;
    top: 2%;
    cursor: pointer;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .pop .pop__card .Myclose-icon svg {
    width: 34px;
    height: 34px;
    padding: 2px;
    background: #202020ae;
    color: white;
    border-radius: 50%;
  }
  
  .pop .pop__card .Myclose-icon:hover svg{
    background-color: rgba(255, 255, 255, 0.5);
    color: red;
  }

  .pop .pop__card .pop__title {
    display: inline-flex;
    justify-content: space-between;
    background-color: white;
    padding: 32px 32px 18px;
  }
  
  .pop .pop__card .pop__title-h1 {
    color: var(--main-color);
    font-size: 3.2rem;
    font-weight: var(--fw-700);
    line-height: 27.6px;
    margin: 0;
  }
  .pop .pop__card .pop__title-date ,
  .pop .pop__tail{
    color: #787878;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 27.6px;
  }


  .pop .pop__card .pop__info {
    background-color: white;
  }

  .pop .pop__card .pop__info p{
    color: #393939;
    font-family: 'Open Sans' !important;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 140%;
    padding: 0px 32px 18px;
    margin: 0;
  }

  .pop .pop__tail {
    background-color: white;
    padding: 0 0 32px 32px;
  }


@media(max-width:767px) {
  .pop .pop__card {
    padding-left: 0;
    padding-right: 0;
    width: 90%;
}
  .pop .pop__card .pop__title {
    background-color: white;
    padding: 24px 24px 0; 
    flex-direction: column;
}
  .pop .pop__card .pop__title-h1 {
    font-size: 1.7718rem;
    line-height: normal;
}
.pop .pop__card .pop__title-date, .pop .pop__tail {
  font-size: .8895rem;
  line-height: 20.671px;
}
.pop .pop__card .Myclose-icon {
  right: 2%;
  top: 2%;
}
.pop .pop__card .pop__info p {
  font-size: 1.2rem;
  line-height: 20px;
  padding: 0 24px;
}
.pop .pop__tail {
  padding: 0 24px;
}
}